/*.lista_menu{
    list-style-type: none;
    font-weight: bold;
} */

body{
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
}


.post_img{
    border-radius: 100px;
    border: 2px solid black;
    margin-bottom: 30px;
}


#titulo, .subtitulo, .post_titulo{
    color: black;
}

#titulo{
    font-size: 40px;
    text-transform: uppercase;
}

.post_titulo{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: white;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 25px;
}

.post_conteudo{
    margin: 0;
    margin-bottom: 15px;
    text-align: center
}

a {
    color: blue;
    text-decoration: none;
}

/* estilo do menu de navegação */

nav#menu ul{
    list-style-type: none;
    text-transform: uppercase;
}

nav#menu li{
    display: inline-block;
    font-weight: bold;
    background-color: #505050;
}

nav#menu a{
    color: white;
}