*{
    padding: 0;
}

/* Variáveis das cores*/
:root{
    --preto: black;
    --roxo: #63599b;
    --branco: white;
}

a{
    text-decoration: none;
    color: black;
}

/* estilo do menu de navegação */

nav#menu {
    display: block;
}

nav#menu ul{
    /*background-color: #1b1b1b; Inserido para teste*/
    list-style-type: none;
    text-transform: uppercase;
    position: absolute;
    top: -11px;
    left: 15px;
}

nav#menu li{
    display: inline-block;
    font-weight: bold;
    background-color: var(--preto);
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.5s;
    box-shadow: 0px 0px 10px #999999;
}

nav#menu li:hover{
    background-color: var(--roxo);
}

nav#menu a{
    color: var(--branco);
    text-decoration: none;
}

/************************************/

div#interface{
    
    width: 900px;
    margin: 50px auto 0px 30px;
}

body{
    background: #f7f7f7;
    font-family: Verdana;
    max-width: 900px;
}


.post_img{
    border-radius: 100px;
    border: 2px solid var(--preto);
    margin-bottom: 30px;
    
}


#titulo, .subtitulo, .post_titulo{
    color: var(--preto);
}

#titulo{
    font-size: 40px;
    text-transform: uppercase;
}

.post_titulo{
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: var(--branco);
    padding: 15px;
    border: 3px solid var(--preto);
    margin-bottom: 15px;
    border-radius: 25px;
}

.post_conteudo{
    margin: 0;
    margin-bottom: 15px;
    text-align: center
}

/* Imagens das redes sociais */

.social_img{
    border-radius: 100px;
    border: 2px solid black;
    margin-bottom: 30px;
}


/* Página de projetos */

.botaovisualizar{
    background-color: var(--preto);
    text-transform: uppercase;
    color: var(--branco);
    font-weight: bold;
    padding: 1px 0 1px 0;
    border-radius: 8px
}

.post_projetos{
    background: var(--branco);
    padding: 15px;
    border: 3px solid var(--preto);
    margin-bottom: 15px;
    border-radius: 25px;
}

.post_projetos a{
    color: var(--branco);
}